* {
    margin: 0px;
    padding: 0px;
}

body {
    display: grid;
    place-items: center;
    overflow-x: hidden;
}

li {
    display: grid;
    place-items: center;
    list-style: none;
}

ul {
    display: flex;
    flex-direction: row;
}

.header-div {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
}

.darkbox {
    margin: 0.5px;
    width: 75px;
    height: 75px;
    background-color: #2e2821
}

.lightbox {
    margin: 0.5px;
    width: 75px;
    height: 75px;
    background-color: #6e5f46
}

.divv {
    display: flex;
}