* {
    margin: 0px;
    padding: 0px;
}

body {
    display: grid;
    place-items: center;
    overflow-x: hidden;
}

li {
    display: grid;
    place-items: center;
    list-style: none;
    font-size: 0;
}

ul {
    display: flex;
    flex-direction: row;
}

.header-div {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
}

.darkbox {
    margin: 0.5px;
    width: 75px;
    height: 75px;
    background-color: #3b332a
}

.lightbox {
    margin: 0.5px;
    width: 75px;
    height: 75px;
    background-color: #c7aa78
}

.divv {
    display: flex;
}

.all-pwn {
    width: 45px;
    transform: scale(.7);
    position: relative;
}

.all-img {
    width: 45px;
    position: relative;
    bottom: 5px;
}